





	
	body{
		font-family: sans-serif;
	}

h1{
	text-align:center;
	color:forestgreen;
	margin: 30px 0 50px;
}

.gallery img{
	margin: 10px 50px;
padding: 5px;
filter: grayscale(100%);
transition: 1s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}





